{% extends "base.html" %}

{% block content %}
    <div class="card border-dark my-3">
        <div class="card-header">
            <div class="d-flex justify-content-center">
                <img class="align-middle" src="/{{ image }}" width="300px" height="300px">
            </div>
        </div>
        <div class="card-body text-dark">
            {% if current_user.id == book.user_id %}
                <a class="btn btn-primary mx-1" href="/edit_book/{{ book.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg></a>
            {% endif %}
            <h1 class="card-title font-weight-bold display-3 text-center">{{ genre }} «{{ title }}»</h1>
            <p class="card-text text-center">{{ book_author }}</p>
            <p class="card-text text-right"><small class="text-muted">Последнее изменение: {{ last_update }}</small></p>
            <p class="card-text text-secondary text-right">Книгу разместил: {{ user_author }}</p>
            <hr class="text-dark" align="center" width="100%" size="4" />
            <p class="display-1 font-weight-bold text-center my-2">Анализ</p>
            {% if content_analysis %}
                <div class="d-flex">
                    <div>{{ content_analysis|safe }}</div>
                </div>
            {% else %}
                <h1 class="text-secondary text-center">Информация отсутствует</h1>
            {% endif %}
            <hr class="text-dark" align="center" width="100%" size="4" />
            {% if book.pdf_link %}
                <a href="/download_file/{{ book.id }}" class="btn btn-info">Скачать книгу</a>
            {% else %}
                <h1 class="text-secondary text-center">Файл отсутствует</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}